<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=0.1">
        <link rel="icon" href="img/favicon.png" type="imagex-icon">
        <title>My Life</title>
    </head>
    
    <body>
        <header>
            <nav>
                <ul class="nav-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                </ul>
            </nav>
        </header>
        <h3>What describes me best</h3>
        <p>
            I am a young lady so passionate about nature
        </p>
        <footer>

            <ul>
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                <li><a href="https://youtube.com" target="_blank">Youtube</a></li>  
            </ul>

        </footer>

             <h2>Enter my details</h2>

        <label for="email">Email Address:</label>
        <input type="email" placeholder="example@email.com">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" placeholder="********">

    </body>
</html>
Lucy Alupo, code queen 2021
